.left-container{
    width: 248px;
    height: 500px;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: start;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-top: -96px;
    
}

.price-3{
    font-size: 15px;
}

.price-4{
    font-size: 30px;
}

.price-5{
    font-size: 15px;
}

.left-text-1{
    font-size: 14px;
}

.location-1{
    width: 16px;
    height: 14px;
}

.location-2{
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    width: 70%;
    color:#4978ab;
}

.left-text-2{
    font-size: 20px;
    color: #007600;

}

.left-text-3{
    font-size: 11px;
}

.transaction-1{
    margin-left: 40px;
}

.left-text-4{
    font-size: 11px;
}

.transaction-2{
    margin-left: 30px;
}

.left-text-5{
    font-size: 11px;
}

.transaction-3{
    margin-left: 46px;
}

.left-text-6{
    line-height: 20px;
}

.quantity-1{
    background-color: #f0f2f2;
    color: black;
    width: 210px;
    height: 29px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.quantity{
  text-align: center;
    position: relative;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.quantity-content{
    display: none;
    position: absolute;
    background-color: #e3e6e6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    

}

.quantity-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .quantity-content a:hover {background-color: #f1f1f1}
  
  .quantity:hover .quantity-content {
    display: block;
  }
  
  .quantity:hover .quantity {
    background-color: #f0f2f2;
  }

  .cart{
    background-color: #ffd814;
    border: none;
    width: 210px;
    height: 29px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    margin-bottom: 10px;
    
  }

  .cart:hover{
    background-color: #e5c212;
  }

  .buy{
    background-color: #ffa41c;
    border: none;
    width: 210px;
    height: 29px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    margin-bottom: 10px;
    
  }

  .buy:hover{
    background-color: #e59419;
  }
  
  .wish{
    background-color: #ffffff;
    border: 1px solid black;
    width: 210px;
    height: 29px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: start;
  }

  .left-container-1{
    margin-top: 20px;
    width: 248px;
    height: 140px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: -10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }

  .amazon-business-1{
    width: 154px;
    display: flex;
    align-items: center;
  }

  .amazon-business-2{
    width: 100%;
    font-size: 14px;
    display: flex;
    align-items: center;
  }

  .account{
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    width: 184px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .quantity, .cart, .buy, .wish {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
