.header-2{
    height: 38px;
    background-color: #232f3e;
    display: flex;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    width: 28px;
    height: 28px;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-2-1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
}